img {
    object-fit: fill;  
}

body {
    background-color: darkblue; 
    display: flex;
    margin: 0;
    height: 100hv;
}

body:before {
    content: "";
    position: absolute;
    z-index: -2;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0px;
    background-color: #000000;
    background-image: url('./image/car-1.jpg');
    opacity: 0.2;
    background-repeat:no-repeat;
    background-size: 100%;
}

.header {
    width: 386px;
    height: 1296px;
    background-color: #0b0b0d;
    z-index: -1;
    opacity: 0.5;
}

.logo {
    width: 136px;
    height: 44px;
    margin-top: 71px;
    margin-left: 93px;
    display: flex;
}

.logo__text {
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    font-weight: bold;
}

.menu {
    width: 100%;
    height: 885px;
    margin-top: 85px;
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu__top {
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.menu__text {
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Oswald', sans-serif;
    font-size: 17px;
    color: #fff;
}

.logo__text_highlight {
    color: #a276ff;
}

.menu__ul {
     margin-left: 0px;
     list-style-type: none;
     padding: 0;
}

.menu__top li {
    list-style: none; 
    }
      
.menu__top a {
    padding: 40px;
    text-decoration: none;
    display: flex;
}

.menu__bottom {
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; 
}

.menu__bottom li {
    list-style: none; 
    }
      
.menu__bottom a {
    padding: 40px;
    text-decoration: none;
    display: flex;
}

.menu__text_70 {
    opacity: 0.7;
}

.menu__text_20 {
    opacity: 0.2;
}

.main {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin-left: 209px;
}

.menu-mini {
    height: 73px;
    width: 232px;
    margin-top: 100;
    margin-right: 100;
    align-self: self-end; 
    margin-top: 0px;
    margin-right: 309px;
    background-color: #a276ff;
    border-radius: 0px 0px 10px 10px;
}

.menu-mini__twitter {
    height: 25px;
    width: 25px;
    background:  transparent;
    border: none;
    margin-top: 30px;
    margin-left: 50px;
    background-image: url('./image/Vector.png');
    background-repeat:no-repeat;
    z-index: 2;
    
}

.menu-mini__twitter:hover {
    box-shadow:  0 4px 8px 0 #9d62af, 0 6px 20px 0 #9d62af;
}

.menu-mini__facebook {
    height: 25px;
    width: 25px;
    background:  transparent;
    border: none;
    margin-top: 30px;
    margin-left: 90px;
    background-image: url('./image/facebook\ 1.png');
    background-repeat:no-repeat;
    z-index: 2;    
}

.menu-mini__facebook:hover {
    box-shadow:  0 4px 8px 0 #9d62af, 0 6px 20px 0 #9d62af;
}

.main__text {
    margin: 0;
}

.main__text-1 {
    margin-top: 182px;
    margin-bottom: 0px;
    font-family: 'Oswald', sans-serif;
    font-size: 56px;
    font-weight: bold;
    color: #fff;
}

.main__text-2 {
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 0.75;
    font-family: 'Oswald', sans-serif;
    font-size: 120px;
    font-weight: bold;
    color: #a276ff;
}

.main__text-3 {
    max-width: 1083px;
    margin-top: 44px;
    margin-bottom: 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 29px;
    color: #fff;
}

.main-button {
    background:  transparent;
    border:  2px solid white;
    margin-top: 81px;
    margin-bottom: 0px;
    width: 352px;
    height: 70px;
    border-radius: 17px;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}

.main-button-1 {
    display: flex;
    max-width: 1273px;
    height: 156px;
    margin-right: 50px;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 93px;
    background: none;

}

.main-button-1__1 {
    border:  none;
    width: 259px;
    height: 100%; 
    background-image: url('./image/button1.jpg');
    border-radius: 11px;
}

.main-button-1__2 {
    border: none;
    width: 259px;
    height: 100%; 
    background-image: url('./image/button2.jpg');
    border-radius: 11px;
}

.main-button-1__3 {
    border: none;
    width: 259px;
    height: 100%; 
    background-image: url('./image/button3.jpg');
    border-radius: 11px;
}

.main-button-1__4 {
    border: none;
    width: 259px;
    height: 100%; 
    background-image: url('./image/button4.jpg');
    border-radius: 11px;
}

.main-news {
    margin-top: 76px;
    color: #fff;
}

.main-news__menu {
    display: flex;
    align-items: center;

}

.main-news__menu_text {
    margin: 0;
    font-family: 'Oswald', sans-serif;
    font-size: 42px;
    font-weight: bold;


}

.main-news__menu_images {
    width: 37px;
    height: 34px;
    background-image: url('./image/Triangle.svg');
    background-repeat:no-repeat;
    background: transparent;
    border: none;
    z-index: -2;
    color: #a276ff;
}

.main-footer__text {
    max-width: 1083px;
    margin-top: 44px;
    margin-bottom: 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #fff;
}

@media (max-width: 1900px) {
    .menu-mini {
        margin-right: 100px;
    }
}

@media (max-width: 1600px) {
    .main-button-1 {
        display: block;
    }
    .main__news {
        margin-top: 200px;
    }
}

@media (max-width: 1200px) {

    .main__text-1 {
        font-size: 20px;
        line-height: 1;
    }
    
    .main__text-2 {
        margin-top: 20px;
        font-size: 60px;
    }   
}

@media (max-width: 1030px) {
    .main-news {
        margin-top: 500px;
    }
}