img {
    object-fit: fill;  
}

body {
    background-color: darkblue; 
    display: flex;
    margin: 0;
    height: 100hv;
}

body:before {
    content: "";
    position: absolute;
    z-index: -2;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0px;
    background-color: #000000;
    background-image: url('./image/car-1.jpg');
    opacity: 0.2;
    background-repeat:no-repeat;
    background-size: 100%;
}

.header {
    width: 386px;
    height: 1296px;
    background-color: #0b0b0d;
    z-index: -1;
    opacity: 0.5;
    color: #fff;
}

.logo {
    width: 136px;
    height: 44px;
    margin-top: 71px;
    margin-left: 93px;
    display: flex;
}

.logo__text {
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    font-weight: bold;
}

.menu {
    width: 100%;
    height: 885px;
    margin-top: 85px;
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu__top {
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.menu__ul {
    margin-left: 0px;
    list-style-type: none;
    padding: 0;
}

.menu__text {
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Oswald', sans-serif;
    font-size: 17px;
    color: #fff;
}

.logo__text_highlight {
    color: #a276ff;   
}

.menu__top li {
    list-style: none; 
 } 
    
.menu__top a {
    padding: 40px;
    text-decoration: none;
    display: flex;
}

.menu__bottom {
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; 
}

.menu__bottom li {
    list-style: none; 
    }
      
.menu__bottom a {
    padding: 40px;
    text-decoration: none;
    display: flex;
}

.menu__text_70 {
    opacity: 0.7;
}

.menu__text_20 {
    opacity: 0.2;
}

.main {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin-left: 209px;
}

.menu-mini {
    height: 73px;
    width: 232px;
    margin-top: 100;
    margin-right: 100;
    align-self: self-end; 
    margin-top: 0px;
    margin-right: 309px;
    background-color: #a276ff;
    border-radius: 0px 0px 10px 10px;
}

.menu-mini__twitter {
    height: 25px;
    width: 25px;
    background:  transparent;
    border: none;
    margin-top: 30px;
    margin-left: 50px;
    background-image: url('./image/Vector.png');
    background-repeat:no-repeat;
    z-index: 2;
    
}

.menu-mini__twitter:hover {
    box-shadow:  0 4px 8px 0 #9d62af, 0 6px 20px 0 #9d62af;
}

.menu-mini__facebook {
    height: 25px;
    width: 25px;
    background:  transparent;
    border: none;
    margin-top: 30px;
    margin-left: 90px;
    background-image: url('./image/facebook\ 1.png');
    background-repeat:no-repeat;
    z-index: 2;    
}

.menu-mini__facebook:hover {
    box-shadow:  0 4px 8px 0 #9d62af, 0 6px 20px 0 #9d62af;
}

.inf {
    margin-top: 231px;
    max-width: 1552px;
    height: 1424px;
    margin-right: 50px;
    background-color: #fff;
    border-radius: 41px;
    display: flex;
}

.inf__text {
    display: flex;
    flex-direction: column;
    margin-top: 110px;
    margin-left: 110px;
    max-width: 699px;
    height: 944px;
    color: #000000;
    margin-top: 0px;
    margin-bottom: 0px;
    scroll-behavior: smooth;
}

.inf__text-1 {
    margin-top: 10px;
    margin-bottom: 0px;
    font-family: 'Oswald', sans-serif;
    font-size: 56px;
    font-weight: bold;    
}

.inf__text-2 {
    margin-top: 10px;
    margin-bottom: 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 29px;
}

.inf__text-3 {
    margin-top: 10px;
    margin-bottom: 0px;
    font-family: 'Oswald', sans-serif;
    font-size: 27px;
    font-weight: bold;    
}

.inf__pfoto-image {
    width: 480px;
    height: 720px;
    margin-top: 130px;
    background-image: url('/image/фото.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center
}

.inf__pfoto-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    text-align: center;
    margin-top: 0px;
    font-weight: bold;  
}

@media (max-width: 2100px) {
    .menu-mini {
        margin-right: 100px;
    }
}

@media (max-width: 1800px) {
    .main {
        margin-left: 50px;
    }

    .inf__text {
        margin-left: 50px;
    }
    .inf__text-1 {
        font-size: 30px;   
    }
    
    .inf__text-2 {
        font-size: 16px;
    }
    
    .inf__text-3 {
        font-size: 16px;   
    }
}

@media (max-width: 1200px) {
    .inf__pfoto-image {
        width: 240px;
        height: 360px;
        margin-top: 50px;
    }
}