body {
    margin: 0px;
    background-color: #050729;
}

img {
    object-fit: fill;  
}

.header {
    height: 465px;  
    background-color: #A276FF; 
    display: flex;
    justify-content: center;
    column-gap: 184px;  
}

.menu {
    padding-top: 70px;
}

.menu__button {
    height: 384px;
    width: 580px;
    mix-blend-mode: multiply;
    border: none;
    border-radius: 30px;
    background-size: 100% 100%;
}

.menu__button_purple {
    background-image: url('./image/HOME 1.jpg');
}

.menu__button_purple:hover {
    box-shadow:  0 4px 8px 0 #9d62af, 0 6px 20px 0 #9d62af;
}

.menu__button_yellow {
    background-image: url('./image/HOME-2 1.jpg');
}

.menu__button_yellow:hover {
    box-shadow:  0 4px 8px 0 #9d62af, 0 6px 20px 0 #9d62af;
}

.main {
    color: #fff;
    text-align: center;
    line-height: 0.75;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
}

.main__text-1 {
    margin-top: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    margin-bottom: 0px;
}

.main__text-2 {
    margin-top: 30px;
    margin-bottom: 0px;
    font-size: 90px;

}

.main__text-3 {
    margin-top: 20px;
    margin-bottom: 0px;
    font-size: 190px;
    color: #A276FF; 
}

.footer {
    color: #fff;
    text-align: center;
    line-height: 0.75;
    margin-bottom: 0px;
    margin-top: 30px;
    margin-bottom: 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
}

@media (max-width: 1400px) {
    .header {
        height: 340px; 
        column-gap: 0px;  
     
    }
    .menu__button {
        height: 264px;
        width: 400px;
        object-fit: fill;  
    }
}

@media (max-width: 1200px) {
    .main__text-2 {
        font-size: 45px;
    }
    
    .main__text-3 {
        font-size: 95px;
    } 
}

@media (max-width: 992px) {
    .header {
        height: 530px;  
        column-gap: 0px;  
        flex-direction: column;
        align-items: center;
    }
    .menu {
        padding-top: 0px;
    }
}

@media (max-width: 576px) {
    .header {
        height: 200px; 
        column-gap: 0px;  
    }
    .menu__button {
        height: 96px;
        width: 145px;
        border-radius: 10px;
    }
     
    .main__text-1 {
        font-size: 5px;
    }
    
    .main__text-2 {
        font-size: 15px;
    }
    
    .main__text-3 {
        font-size: 30px;
    } 

    .footer {
        font-size: 5px;
    }
}

@media (max-width: 320px) {
    .header {
        flex-direction: column;
        column-gap: 0px;  
    }    
}